---
import PageLayout from '~/layouts/PageLayout.astro'
import '@fontsource/bungee-shade'
import { runQuery } from '~/sanity/run-query'
import { profileQuery } from '~/sanity/schemas/profile'
import PortableText from '~/components/common/portable-text/PortableText.astro'

const profile = await runQuery(profileQuery)
const { body, name } = profile
---

<PageLayout title={'⭐️'}>
  <h1 class="mt-1 mb-10 font-bungee-shade text-3xl">{name}'s Escapeland</h1>
  <div class="max-w-[37.5rem]">
    <!-- @ts-ignore -->
    <PortableText class="text-sm !leading-5" value={body} />
  </div>
</PageLayout>
